{% extends 'base.html.twig' %}

{% block title %}Hello ClassroomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des salles de cours</h1>

<table>
    <tr>
        <td>Nom</td>
        <td>Capacité</td>
        <td>Ecole</td>
        <td>Action</td>
    </tr> 
{% for classroom in listclassroom%}
    <tr>
        <td>{{classroom.name}}</td>
        <td>{{classroom.capacity}}</td>
        <td>{{classroom.school.name}}</td>
    </tr> 
</table>
{% endfor %}
</div>
{% endblock %}
